In [6]:
#ana 3ayez a3mel print 
print("hello")

hello

#Print ya ma3lm

In [3]:
''' 
gfdkjsrmnd  f lksmfkamg  jskfgnalmgt  jsfnadkgkgjkjnfgnskjf

'''

' \ngfdkjsrmnd  f lksmfkamg  jskfgnalmgt  jsfnadkgkgjkjnfgnskjf\n\n'

In [8]:
x=5
print(x)

5

In [9]:
id(X)

NameError: name 'X' is not defined

In [12]:
print(id(x))

140732415863352

In [14]:
type(x)

int

In [17]:
std_name= "M.Nabil"
std_age= "32"
std_work= "Engineer"
print("my name is {0}, my age is {1}, I work as{2}".format(std_name, std_age, std_work))

my name is M.Nabil, my age is 32, I work asEngineer

In [25]:
x="3.14"
type(x)

str

In [40]:
num1=float(input("enter num1"))
num2=float(input("enter num2"))
print(num1+num2)

10.0

In [49]:
name=input("enter your name")
age=int(input("enter your age"))
course=input("enter course name")
print("My name is {0},and iam {1} years old, and iam engaged in learning {2}".format(name,age,course))

My name is 5,and iam 5 years old, and iam engaged in learning 5

In [55]:
x="welcome"
len(x)
x[-3]

'o'

In [61]:
name="AMIT_LEARNING"
len(name)
print(name[0:4])

AMIT

In [63]:
print(x.lower())

welcome

In [65]:
x.lower()

'welcome'

In [67]:
x=x.lower()

In [69]:
print(x)

welcome

In [71]:
name=name.lower()

In [73]:
print(name)

amit_learning

In [75]:
y="hello mr Mohamed"

In [106]:
name= input("enter your name")
age= int(input("enter your age"))
job= input("enter your job")
salary= float(input("enter your salary"))
print(f"my name is {name} and iam {age} years old, iwork as a{job} and I get {salary} by month")

ValueError: invalid literal for int() with base 10: ''

In [100]:
z="Mohamed"
s="Nabil"
print(z)
print(s)

Mohamed
Nabil

In [102]:
print("Mohamed")
print("Nabil")

Mohamed
Nabil

In [108]:
print("*")
print("**")
print("***")
print("****")

*
**
***
****

In [305]:
mail="Amit_ml@gmail.edu"
a=int(mail.find("@"))
b=int(mail.find("."))
#print(a)
#print(b)
# print("User name:", mail[0:a])
# print("Domail:", mail[a+1:b])

if "@" in mail:
    print(f"User name: {mail[0:a]} \nDomain: {mail[a+1:b]}")
    
end=(mail[b+1:])
if end=="edu":
    print("This email is educational ")
elif end=="com":
    print("This email is commercial")

User name: Amit_ml
Domain: gmail
This email is educational

In [306]:
name= "###!!@mocleW EPGTQ!!!6789"
a=name.find("m")
b=name.find("!!!")
c=name[a:b]  #core total
print(f"main core is: {c}")
d=c[5:1:-1]
print(d)

main core is: mocleW EPGTQ
Welc

In [326]:
List1=[1,2,3,"amit","learning",True,[1,2,3,"True",["ml","dl","ds"]]]
print(List1[6][4])

['ml', 'dl', 'ds']

In [341]:
x="Amit"
y=list(x)
print(y)
print(''.join(y))

['A', 'm', 'i', 't']
Amit

In [364]:
list1=["amit","learning","python"]
list1.insert(2,"Machine Learning")
print(list1)

['amit', 'learning', 'Machine Learning', 'python']

In [375]:
list1=["amit","learning","python"]
list2=["machine learning"]
list1.extend(list2)

list1.insert(1,"pytorch")
list1.remove("amit")
print(list1)
list1.pop(2)
print(list1)

['pytorch', 'learning', 'python', 'machine learning']
['pytorch', 'learning', 'machine learning']

In [7]:
y1=(1,2,3,4)
y1=list(y1)
y1[1]=30
print(y1)
y1=tuple(y1)
print(y1)

[1, 30, 3, 4]
(1, 30, 3, 4)

In [16]:
d1={"K1":12.5,"k2":"v2","K3":"python",4:[1,2,3,4,5]}
d1["K1"]="amit learning"
print(d1)

{'K1': 'amit learning', 'k2': 'v2', 'K3': 'python', 4: [1, 2, 3, 4, 5]}

In [18]:
2 is 3

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\mohamed.nabil\AppData\Local\Temp\ipykernel_11668\4056859831.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  2 is 3

False

In [33]:
Degree=int(input("enter your degree"))
if Degree>=0 and Degree <=100:
    if Degree>= 90 and Degree <100 :
        print("A")
    elif Degree>= 80 and Degree <90 :
        print("B")
    elif Degree>= 70 and Degree <80 :
        print("c")
    elif Degree< 70:
        print("ta3baaaan")
else:
    print("your answer is not a number")

ta3baaaan

In [ ]:
name=("###!!@mocleW EPGTQ!!!6789")
a=name.find("@")
b=name.find("!!!")
c=name[a+1:b]  #ÙŽCore
e=c.find("P")
c=list(c)

['m', 'o', 'c', 'l', 'e', 'W', ' ', 'E', 'P', 'G', 'T', 'Q']